<section class="articles">
  <article>
    <div>
      <figure>
        <img src="assets/bear.jpg" alt="oso" />
      </figure>
      <div class="article-body">
        <h2>LOS OSOS</h2>
        <p>
          Los osos o úrsidos (Ursidae) son una familia de mamíferos omnívoros. 
          Son animales de gran tamaño, generalmente omnívoros, ya que, 
          a pesar de su temible dentadura, comen frutos, raíces e insectos,
           además de carne. Con sus pesados cuerpos y sus poderosas mandíbulas, 
           los osos se encuentran entre los mayores carnívoros que viven en la Tierra...
        </p>
        <a href="https://es.wikipedia.org/wiki/Ursidae">
          Read more _ <span > about _ Bears</span>
        </a>
      </div>
    </div>
  </article>
</section>